<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="default"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="DTO Packer Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Alias.php</file>
            <file>src/Dimension.php</file>
            <file>src/PreMutator.php</file>
            <file>src/Validators/FieldValidators.php</file>
        </exclude>
    </coverage>

</phpunit>